/* 140ms per character */
/* 760ms delay */
#typewriter {
	width: 10ch;
	animation: typing 3800ms steps(10) forwards,
		blink 0.5s step-end infinite alternate,
		typing2 1600ms steps(6) 3800ms forwards, hide-text 1ms 3800ms forwards;

	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid white;
	position: relative;
}

#typewriter::after {
	content: "Archer";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 6ch;
	animation: show 1ms 3800ms forwards, typing2 1600ms 3800ms steps(6) forwards,
		blink 0.5s 3800ms step-end infinite alternate;
}

@keyframes typing {
	0% {
		width: 0ch;
	}
	35% {
		width: 10ch;
	}
	65% {
		width: 10ch;
	}
	100% {
		width: 0ch;
	}
}

@keyframes hide-text {
	to {
		color: transparent;
		background-clip: unset;
		background-image: none;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		border-right: 3px solid white;
		@apply bg-gradient-to-r from-indigo-500 to-indigo-200 bg-clip-text font-jetbrains-mono text-transparent;
		opacity: 1;
	}
}

@keyframes typing2 {
	0% {
		width: 0ch;
	}
	47.5% {
		width: 0ch;
	}
	100% {
		width: 6ch;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
