---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import Email from "../components/icons/email.astro";
import Github from "../components/icons/github.astro";
import LinkedIn from "../components/icons/linkedin.astro";
import Twitter from "../components/icons/twitter.astro";
import Toast from "../components/toast.astro";
---

<Layout title="Iced Tea">
	<main
		class="min-h-screen container mx-auto lg:px-60 md:px-40 px-2 pt-2 text-neutral-200"
	>
		<Toast text="Copied to clipboard" />
		<div>
			<div
				class="border-b border-b-neutral-500 px-2 font-bold text-neutral-50 mb-10 py-1"
			>
				<div class="flex items-end justify-between">
					<div class="flex items-center gap-2">
						<span>Iced Tea</span>
						<span class="text-sm text-neutral-500 font-normal"
							>@iceonrocks</span
						>
					</div>
					<div class="flex gap-2 items-end">
						<Twitter />
						<Github />
						<LinkedIn />
						<Email />
					</div>
				</div>
			</div>
			<div class="px-2 text-neutral-300">
				Hello, I'm <span class="font-semibold text-neutral-50"
					>Archer Chua</span
				> aka <span class="font-semibold text-neutral-50">Iced Tea</span
				>. I'm a 20 y/o in college, I <span
					class="font-semibold text-neutral-50">drink tea</span
				> and <span class="font-semibold text-neutral-50"
					>build cool stuff</span
				>. I enjoy <span class="font-semibold text-neutral-50"
					>web development</span
				> and I'm currently learning <span
					class="font-semibold text-neutral-50">React</span
				> and <span class="font-semibold text-neutral-50">NextJS</span>.
			</div>
			<br />
			<div class="px-2 text-neutral-300">
				I'm currently building a <span
					class="font-semibold text-neutral-50"
					>task management tool</span
				> and an <span class="font-semibold text-neutral-50"
					>AI for predicting strawberry growth</span
				> for my internship.
			</div>
		</div>
		<div
			class="border-b border-b-neutral-500 my-10 px-2 font-bold text-neutral-50 py-1"
		>
			Projects
		</div>
		<div class="grid lg:grid-cols-3 gap-4 px-2 pt-2 md:grid-cols-2">
			<Card
				href="https://github.com/teaonrocks/icedtea.dev/"
				title="icedtea.dev"
				description="Boring personal site. Built with Astro and Tailwind."
			/>
			<Card
				href="https://github.com/teaonrocks/HIMA-discord/"
				title="Discord Bots"
				description="Discord bots and an API. Built with PyCord, FastAPI and SQLite. Built for HIMA an NFT project."
			/>
			<Card
				href="https://github.com/teaonrocks/HIMA-art-gen"
				title="Art Generator"
				description="Python script that allows you to generate NFT art based on the rarity of different layers. Build with PIL, Pinata IPFS. Built for HIMA an NFT project."
			/>
			<Card
				href="https://github.com/teaonrocks/HIMA-minter"
				title="Cardano Minter"
				description="Minting script for the cardano blockchain. Built with Python, Cardano CLI, Koios API. Built for HIMA an NFT project."
			/>
			<Card
				href="https://github.com/teaonrocks/bentoo.dev"
				title="bentoo.dev"
				description="My first boring personal site. Built with NextJS, Tailwind and DaisyUI."
			/>
			<Card
				href="https://github.com/teaonrocks/OrganisingDownloads"
				title="Download Organiser"
				description="A script that organises your downloads folder by its date. Built with Python."
			/>
		</div>

		<div
			class="border-t border-t-neutral-500 my-10 px-2 text-sm text-neutral-500 py-1 flex justify-between"
		>
			<div>Archer Chua 2023.</div>
			<div>Heres a cookie for making it this far 🍪</div>
		</div>
	</main>
</Layout>
<style></style>
