---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
---

<Layout title="Iced Tea Dev">
	<main class="min-h-screen container mx-auto lg:px-60 md:px-40 px-10 text-neutral-200">
		<div>
			<div class="border-b border-b-neutral-500 p-2 text-neutral-500 text-sm mb-10">
				Iced Tea @iceonrocks
			</div>
			<div class="px-2">
				Hello, I'm <span class="font-semibold">Archer Chua</span> aka <span class="font-semibold">Iced Tea</span>. I'm a 20 y/o in college. I like drinking tea and building cool stuff. I enjoy web development and I'm currently learning React and NextJS.
			</div>
			<div class="px-2">
				I'm currently building a task management tool and an AI for predicting strawberry growth for my internship.
			</div>
		</div>
		<div class="border-b border-b-neutral-500 my-10 p-2 text-neutral-500 text-sm">
			Projects
		</div>
		<div class="grid grid-cols-3 gap-4 px-2">
			<Card title="Hima Discord Bots" description="Discord bots and an API built for the Hima NFT project, which I co-founded. Built with PyCord, FastAPI and SQLite"/>
			<Card title="icedtea.dev" description="Boring personal site. Built with astro and tailwind"/>
			<Card title="bentoo.dev" description="Old boring personal site. Built with NextJS, Tailwind and DaisyUI"/>
		</div>
	</main>
</Layout>
<style></style>
