---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
---

<Layout title="Iced Tea Dev">
	<main class="min-h-screen container mx-auto lg:px-60 md:px-40 px-10 py-2 text-neutral-200">
		<div>
			<div class="border-b border-b-neutral-500 p-2 font-bold text-neutral-50 mb-10">
				Iced Tea <span class="text-sm text-neutral-500 font-normal">@iceonrocks</span>
			</div>
			<div class="px-2 text-neutral-300">
				Hello, I'm <span class="font-bold text-neutral-50">Archer Chua</span> aka <span class="font-bold text-neutral-50">Iced Tea</span>. I'm a 20 y/o in college. I drink tea and build cool stuff. I enjoy web development and I'm currently learning React and NextJS.
			</div>
			<br>
			<div class="px-2 text-neutral-300">
				I'm currently building a <span class="font-bold text-neutral-50">task management tool</span> and an <span class="font-bold text-neutral-50">AI for predicting strawberry growth</span> for my internship.
			</div>
		</div>
		<div class="border-b border-b-neutral-500 my-10 p-2 font-bold text-neutral-50">
			Projects
		</div>
		<div class="grid lg:grid-cols-3 gap-4 px-2 md:grid-cols-2">
			<Card title="Hima Discord Bots" description="Discord bots and an API built for the Hima NFT project, which I co-founded. Built with PyCord, FastAPI and SQLite"/>
			<Card title="icedtea.dev" description="Boring personal site. Built with Astro and Tailwind"/>
			<Card title="bentoo.dev" description="Old boring personal site. Built with NextJS, Tailwind and DaisyUI"/>
		</div>
	</main>
</Layout>
<style></style>
